[Desktop Entry]
Encoding=UTF-8
Name=Link to R Tutorial Series: R Tutorial Series: Centering Variables and Generating Z-Scores with the Scale() Function
Type=Link
URL=http://rtutorialseries.blogspot.be/2012/03/r-tutorial-series-centering-variables.html
Icon=text-html
